%h1 Sign in to your account
= form_with(local: true) do |form|
  - if flash.alert
    #error_explanation
      %span= flash.alert
  .field
    %label= t('sign_in_page.user_name_label')
    = form.text_field :user_name
  .field
    %label= t('sign_in_page.password_label')
    = form.password_field :password
  .actions
    = form.submit t('sign_in_page.sign_in_button')
