= javascript_include_tag "create_article/article_file_upload"
= javascript_include_tag "create_article/update_selectors"
= javascript_include_tag "create_article/submit_form"
= javascript_include_tag "create_article/show_preview"
= javascript_include_tag "create_article/cancel_article"
= javascript_include_tag "create_article/trix_buttons_tabindex"

- content_for :before_nav do
  %div.create-article-pre-header
    %h2.admin-category-name= @translated_category.name
    %div
      = link_to t('admin_articles.cancel_link'), '#', {class: 'btn-link', id: 'cancel-article-btn', 'data-value' => admin_categories_path(@translated_category.key)}
      = link_to t('admin_articles.save_article_button'), '#', {id: 'save-article', class: 'btn-primary', 'data-form-path' => articles_create_path}
%div#errors-in-form-modal{style: 'display: none'}
  = render partial: 'partials/modal_dialog', locals: {prefix: 'error',
   modal_title: t('admin_articles.error_modal.modal_title'),
   modal_content: '',
   show_cancel: false}
%div#cancel-article-modal{style: 'display: none'}
  = render partial: 'partials/modal_dialog', locals: {prefix: 'cancel',
   modal_title: t('admin_articles.cancel_modal.cancel_title'),
   modal_content: t('admin_articles.cancel_modal.cancel_content')}
= form_with(url: articles_create_path, local: true, html: { autocomplete: "off" }, id: 'create-article-form') do |form|
  %div.create-article-form
    %div.preview-link-container
      %label.form-label{style: 'margin-bottom: 0;'}= "#{t('admin_articles.picture_label')} *"
      %a#preview-link.underlined-link
        #{File.read('app/assets/images/svgs/preview_article_icon.svg').html_safe}
        = t('admin_articles.preview_link')
    %div#img-preview-section.article-image-layout{style: 'display: none;'}
      %div#img-preview
      %div#img-preview-toolbar
        %span#delete-preview-image
          %svg{width:"66", height:"66", viewBox:"0 0 34 34"}
            #{File.read('app/assets/images/svgs/delete_img.svg').html_safe}
    %div#img-placeholder.no-file
      %span
        #{File.read('app/assets/images/svgs/add_article_photo.svg').html_safe}
      %label
        = form.file_field :picture, accept: 'image/png,image/jpeg,image/jpg,image/tiff', id: 'article-image',
         style:'display: none', required: true
        %span.article-placeholder-text
          %span.btn-link= t('admin_articles.add_picture')
          = t('admin_articles.or_drop_picture')
          %br
            = t('admin_articles.allowed_formats')

    = form.hidden_field :article_id, value: params[:article_id]
    = form.hidden_field :category_id, value: @translated_category.category_id
    = form.hidden_field :language_id, value: current_language.id

    %div.choose-article-nav-container
      %div
        %label.form-label= "#{t('admin_articles.conference_label')} *"
        = select_tag('conference_id',
        options_from_collection_for_select(@translated_conferences, "conference_id", "name"),
         prompt: t('admin_articles.not_selected_value'), class: 'empty-select', required: true)
      %div
        %label.form-label= "#{t('admin_articles.teams_label')} *"
        = select_tag('team_id', nil, prompt: t('admin_articles.not_selected_value'), class: 'empty-select', required: true)
      %div
        %label.form-label= t('admin_articles.location_label')
        = select_tag('location_id', nil, prompt: t('admin_articles.not_selected_value'), class: 'empty-select')

    %div
      %label.form-label= "#{t('admin_articles.alt_label')} *"
      = form.text_field(:alt_image, placeholder: t('admin_articles.alt_placeholder'), required: true)

    %div
      %label.form-label= "#{t('admin_articles.headline_label')} *"
      = form.text_field(:headline, placeholder: t('admin_articles.headline_placeholder'), required: true)

    %div
      %label.form-label= "#{t('admin_articles.caption_label')} *"
      = form.text_field(:caption, placeholder: t('admin_articles.caption_placeholder'), required: true)

    %div
      %label.form-label= "#{t('admin_articles.content_label')} *"
      %trix-editor{input: 'article-content', resize: 'vertical', style: 'overflow-y: auto',
       placeholder: t('admin_articles.content_placeholder'), required: true}
      = form.text_field(:content, type: 'hidden', id: 'article-content', required: true)

    %div
      %span= t('admin_articles.show_comments_label')
      %label.switch
        = form.check_box(:show_comments, checked: true)
        %span.slider.round

    = form.submit "Save article", {id: 'submit-article-form', style:'display: none;'}
%div#preview-main{style: 'display: none;'}
  = render partial: 'partials/article_preview', locals: {category_name: @translated_category.name}