= javascript_include_tag "create_article/article_file_upload"
= javascript_include_tag "create_article/update_selectors"
= javascript_include_tag "create_article/submit_form"
- content_for :before_nav do
  %div.create-article-pre-header
    %h1= @translated_category.name
    %div
      = link_to 'Cancel', '/', {class: 'btn-link'}
      = link_to 'Save', '#', {id: 'save-article', class: 'btn-primary', 'data-form-path' => articles_create_path}
%div#errors-in-form-modal{style: 'display: none'}
  = render partial: 'partials/modal_error', locals: {modal_title: 'Error in forms', modal_content: '', modal_btn_text: 'Ok'}

= form_with(url: articles_create_path, local: true, html: { autocomplete: "off" }) do |form|
  %div.create-article-form
    %div#img-preview-section{style: 'display: none;'}
      %div#img-preview
      %div#img-preview-toolbar
        %span#delete-preview-image
          %svg{width:"66", height:"66", viewBox:"0 0 34 34"}
            #{File.read('app/assets/images/svgs/delete_img.svg').html_safe}
    %label.form-label{style: 'margin-bottom: 0;'}
      Picture *
    %div#img-placeholder.no-file
      %span
        #{File.read('app/assets/images/svgs/add_article_photo.svg').html_safe}
      %label
        = form.file_field :picture, accept: 'image/png,image/jpeg,image/jpg,image/tiff', id: 'article-image',
         style:'display: none', required: true
        %span.article-placeholder-text
          %span.btn-link + Add picture
          or drop it right here
          %br
            You can add next formats: png, jpg, jpeg, tiff

    = form.hidden_field :article_id, value: params[:article_id]
    = form.hidden_field :category_id, value: @translated_category.category_id
    = form.hidden_field :language_id, value: current_language.id

    %div.choose-article-nav-container
      %div
        %label.form-label Conference *
        = select_tag('conference_id',
        options_from_collection_for_select(@translated_conferences, "conference_id", "name"),
         prompt:'Not Selected', class: 'empty-select', required: true)
      %div
        %label.form-label Team *
        = select_tag('team_id', nil, prompt: 'Not Selected', class: 'empty-select', required: true)
      %div
        %label.form-label Location
        = select_tag('location_id', nil, prompt: 'Not Selected', class: 'empty-select')

    %div
      %label.form-label Alt. *
      = form.text_field(:alt_image, placeholder: 'Alternative text for picture', required: true)

    %div
      %label.form-label Article headline *
      = form.text_field(:headline, placeholder: 'Name', required: true)

    %div
      %label.form-label Caption *
      = form.text_field(:caption, placeholder: 'Write caption text here', required: true)

    %div
      %label.form-label Content *
      %trix-editor{input: 'article-content', resize: 'vertical', style: 'overflow-y: auto',
       placeholder: 'Please write your article content here', required: true}
      = form.text_field(:content, type: 'hidden', id: 'article-content', required: true)

    %div
      %span Show comments:
      %label.switch
        = form.check_box(:show_comments, checked: true)
        %span.slider.round

    = form.submit "Save article", {id: 'submit-article-form', style:'display: none;'}