%body
  %header
    .header_upper_nav
      %div
        %a.logo{:href => local_assigns[:header_link] || root_path}
          %span Porn
          Sport
          %span Hub
      .auth_icons
        - if current_user&.admin?
          %a{href: current_page?(root_path) ? admin_home_path : root_path, style: 'text-decoration: none;'}
            #{File.read('app/assets/images/svgs/admin_swap.svg').html_safe}
        - if current_user&.active?
          %span
            Logged in as
            %span= current_user.user_name
          #{link_to "Sign out", sign_out_path, {class: 'btn-link'}}
        - else
          = link_to "Sign in", sign_in_path, {class: 'btn-link'}
          = link_to "Sign up", sign_up_path, {class: 'btn-secondary'}
    - if notice
      %p#notice= notice
    - if alert
      %div.alert= alert