<header>
  <div class="header_upper_nav">
    <div>
      <a class="logo" href="<%=root_path%>">
        <span>Porn</span> Sport
        <span>Hub</span>
      </a>
    </div>
    <div class="auth_icons">
      <% if current_user %>
        Logged in as <%= current_user.user_name %>
        <%= link_to "Sign out", sign_out_path, {class: 'btn-link'} %>
      <% else %>
        <%= link_to "Sign in", sign_in_path, {class: 'btn-link'}%>
        <span style="
        ">
          <%= link_to "Sign up", sign_up_path, {class: 'btn-secondary'}%>
        </span>
      <% end %>
    </div>
  </div>
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
</header>