%h1= t('sign_up_page.title')
= form_with(model: @user, url: sign_up_path, local: true) do |form|
  - if @user.errors.any?
    #error_explanation
      %h2
        = t('sign_up_page.following_errors')
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message
  .field
    %label= "#{t('sign_up_page.email_label')} *"
    = form.text_field :email
  .field
    %label= "#{t('sign_up_page.user_name_label')} *"
    = form.text_field :user_name
  .field
    %label= "#{t('sign_up_page.password_label')} *"
    = form.password_field :password
  .field
    %label= "#{t('sign_up_page.password_confirmation_label')} *"
    = form.password_field :password_confirmation
  .actions
    = form.submit t('sign_up_page.sign_up_button')
