- content_for :head do
  = javascript_include_tag  'admin_categories/article_additional_options'
  = javascript_include_tag  'admin_categories/cancel_delete'
  = javascript_include_tag  'admin_categories/filter_sort_selectors'
- content_for :before_nav do
  %div.admin_nav
    %h1= @presenter.category_translation.name
    %div
      = link_to t('categories.new_article'), new_article_path, {class: "btn-primary" }

%div#popup-outer.popup-outer{style: 'display: none'}
%div#options-popup.additional-options-popup{style: 'display: none'}
  %div.popup-btn= link_to t('categories.options.publish'), '/', id: 'publish', method: :put
  %div.popup-btn= link_to t('categories.options.unpublish'), '/', id: 'unpublish', method: :put
  %div.popup-btn= link_to t('categories.options.delete'), '#', id: 'show-modal-delete'
  =link_to "Delete", '/', id: 'delete', method: :delete, style: 'display: none';
  %div.popup-btn= link_to t('categories.options.move_to_category'), '/', id: 'move', method: :put
%div#delete-article-modal{style: 'display: none'}
  = render partial: 'partials/modal_dialog',
   locals: {prefix: 'delete',
    modal_title: t('admin_categories.delete_modal.modal_title'),
    modal_content: t('admin_categories.delete_modal.modal_content'),
    icon_path: 'app/assets/images/svgs/removal_icon.svg'}
%div.article-tiles-container#article-tiles-container{'category' => params[:key]}
  %div#filter-sort-section.filter-sort
    = select_tag('conference', options_for_select({'All conferences' => nil}.merge(@presenter.conferences_hash), params[:conference]))
    = select_tag('team', options_for_select({'All Teams' => nil}.merge(@presenter.teams_hash(params[:conference])), params[:team]))
    = select_tag('published', options_for_select({'All' => nil, 'Published' => Article::PUBLISHED, 'Unpublished' => Article::UNPUBLISHED}, params[:published]))
%div#load-more-button= File.read('app/assets/images/svgs/plus_circle.svg').html_safe
