- content_for :head do
  = javascript_include_tag  'admin_categories/article_additional_options'
  = javascript_include_tag  'admin_categories/cancel_delete'
- content_for :before_nav do
  %div.admin_nav
    %h1= @presenter.category_translation.name
    %div
      = link_to t('categories.new_article'), new_article_path, {class: "btn-primary" }
%div#popup-outer.popup-outer{style: 'display: none'}
%div#options-popup.additional-options-popup{style: 'display: none'}
  %div.popup-btn= link_to "Publish", '/', id: 'publish', method: :put
  %div.popup-btn= link_to "Unpublish", '/', id: 'unpublish', method: :put
  %div.popup-btn= link_to "Delete", '#', id: 'show-modal-delete'
  =link_to "Delete", '/', id: 'delete', method: :delete, style: 'display: none';
  %div.popup-btn= link_to "Move to Category >", '/', id: 'move', method: :put
%div#delete-article-modal{style: 'display: none'}
  = render partial: 'partials/modal_dialog',
   locals: {prefix: 'delete',
    modal_title: t('admin_categories.delete_modal.modal_title'),
    modal_content: t('admin_categories.delete_modal.modal_content')}
%div.article-tiles-container
  - @presenter.articles.each do |translated_article|
    %div.article-tile{value: translated_article.id, published: translated_article.published?.to_s}
      %div.article-tile-image= image_tag(translated_article.picture_url, size: '284x158')
      %div.article-tile-text-container
        %div
          %div.tile-headline= translated_article.headline
          %div.tile-content-preview= translated_article.caption
        %div.tile-footer
          %div
            %span= translated_article.category_name
            %span= '/'
            %span= translated_article.team_name
          %div= translated_article.status.capitalize
      %div.tile-opts{article: translated_article.id,
        published: translated_article.published?.to_s,
        delete_url: delete_article_path(translated_article.article_id),
        publish_url: publish_article_path(id: translated_article.id),
        unpublish_url: unpublish_article_path(id: translated_article.id),
        } ...
