- content_for :before_nav do
  %div.admin_nav
    %h1= @translated_category.name
    %div
      = link_to t('categories.new_article'), new_article_path, {class: "btn-primary" }
%p= t('categories.category_current', category: @translated_category.name)

%div{style: 'display: flex; flex-direction:column;'}
  - @translated_articles.each do |translated_article|
    %div
      %div
        = translated_article.headline
        = translated_article.alt_image
        = translated_article.caption
      %div
        = image_tag(translated_article.picture_url, size: "192x108")