%h1= @article.headline
%div= image_tag(@article.picture_url, class: 'main-article-image')
%div= @article.caption

%div= sanitize @article.content

- if @article.show_comments
  %div.article-comments
    %div= commontator_thread(@article)

