%title AdminSportWebapp

= render partial: 'partials/app_defaults'
%header
  %div
    = render partial: 'partials/header', locals: {header_link: admin_home_path}
  %div
    %div
      = yield :before_nav
    %div
      - @translated_categories.each_with_index do |translated_category, index|
        = link_to translated_category.name, admin_categories_path(@key_names[index])
%main
  - if notice
    %div#notice #{notice}
  = yield
