%title AdminSportWebapp

= render partial: 'partials/app_defaults'
%header
  %div
    = render partial: 'partials/header', locals: {header_link: admin_home_path}
  %div
    %div
      = yield :before_nav
    %div
      - @translated_categories.each do |translated_category|
        = link_to translated_category.name, admin_categories_path(translated_category.key_name)
%main
  - if notice
    %div#notice #{notice}
  = yield
