<!DOCTYPE html>
<html>
  <head>
    <title>SportWebapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <div style="display: flex; justify-content: space-between">
      <div>
        <a style="font-size: 3em; color:black;" href="<%=root_path%>">
          <span style="text-decoration: line-through">Porn</span> Sport
          <span style="background-color: #ff7500; border-radius: 3px; padding: 3px;">Hub</span>
        </a>
      </div>
      <div>
        <% if current_user %>
          Logged in as <%= current_user.user_name %>
          <%= link_to "Sign out", sign_out_path %>
        <% else %>
          <%= link_to "Sign in", sign_in_path, {style: 'color: #D72130;'}%>
          <span style="
          border: 1px solid #D72130;
            box-sizing:border-box; font-family: Open Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 17px;
            text-align: center;
            padding: 20px;">
          <%= link_to "Sign up", sign_up_path, {style: 'color: #D72130; margin-right:5px; font-weight:bolder;'}%>
        </span>
        <% end %>
        <%= link_to "Check auth", profiles_index_path, {style: "#{current_user.nil? ? "color: #B99E9E;" : "color: #D72130;"}"}%>
      </div>
    </div>
    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% end %>

  </header>
  <body>
    <%= yield %>
  </body>
</html>
